SINGLESTORE_DATABASE_HOST="domain.host.com"
SINGLESTORE_DATABASE_PORT="1234"
SINGLESTORE_DATABASE_NAME="database_name"
SINGLESTORE_DATABASE_USERNAME="database_username"
SINGLESTORE_DATABASE_PASSWORD="super_secret_password"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=publishable_key
CLERK_SECRET_KEY=secret_key
UPLOADTHING_TOKEN='key'